
  <%- include('layouts/header'); -%>
  <%- include('layouts/navbar'); -%>

  <!-- Main Content -->
    <div class="my-content container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <% if(loggedIn && products) { %> 
            <%- include('layouts/status-dashboard'); -%>
              
            <% for(var i=0; i < products.length; i++) { %>
                  <a href="/catalog/<%= products[i]._id %>" class="text-decoration-none" >
                    <div class="product-card"> 
                      <p class="d-flex justify-content-between">Brand: <%= products[i].brand %>
                        <% if(products[i].discontinue) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" color="red" width="22" height="22" fill="currentColor" class="bi bi-exclamation-octagon discontinued-icon discontinued-color" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1L1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                          <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                        </svg>
                      <% } %>
                      </p>
                      
                      <p class="d-flex justify-content-between">Details: <%= products[i].details %>
                        <% if(products[i].outOfStock) { %>
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" color="red" fill="currentColor" class="bi bi-emoji-dizzy outofstock-icon outofstock-color  " viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M9.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zm-5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zM10 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                          </svg>
                          
                      <% } %>
                    </p>
                        
                      <p class="d-flex justify-content-between">Quantity: <%= products[i].quantity %>
                        <% if(products[i].lowStock) { %>
                          <svg xmlns="http://www.w3.org/2000/svg" color="yellow" width="22" height="22" fill="currentColor" class="bi bi-exclamation-triangle lowstock-icon lowstock-color" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                          </svg>
                      <% } %>
                      </p>
                    </div>
                  </a>
              <% } %>
            <% } %>

            <% if(!products.length > 0) { %>
              <div class="product-card"><h3 class = "text-center">No records found</h3></div>
                <% } %>

          <% if(!loggedIn) { %>
            <% for(var i=0; i < products.length; i++) { %>
              <div class="product-card">
                <p>Brand: <%= products[i].brand %></p>
                <p>Details: <%= products[i].details %></p>
                <p>Quantity: <%= products[i].quantity %></p>
              </div>
            <% } %>

          

          <% } %> 
        </div> 
      </div>
    </div>
    
    
    <%- include('layouts/scripts'); -%>

