

<%- include('layouts/header'); -%>
<%- include('layouts/navbar'); -%>

<div class="container">
  <div class="d-flex  h-100 align-items-center col-md-8 mx-auto  p-2">
    <!-- <div class="col-lg-6 col-md-10 mx-auto mb-4 product-card my-content ">  -->
      
      <form action="/users/login" method="POST"class="col-md-10 mx-auto status-card" >
        <div class="hello">
          <% if (locals.myError) { %>
            <div class=" col-md-4 col-lg-8 my-error mb-2 mx-auto mt-3 py-2 bg-danger rounded  d-flex justify-content-between"> 
              <p class="text-white"><%= myError %></p>
              <span class="my-1 text-white"><i class="fas fa-exclamation-circle"></i></span>
            </div>
            
            <% } %>
        </div>
        

          <% if (locals.fieldsEmpty) { %>
            <div class=" col-md-4 col-lg-8 my-error mb-2 mx-auto mt-3 py-2 bg-danger rounded  d-flex justify-content-between"> 
              <p class="text-white">username and password required!</p>
              <span class="my-1 text-white"><i class="fas fa-exclamation-circle"></i></span>
            </div>

          <% } %>

          <% if (locals.registerError) { %>
            <div class=" col-md-4 col-lg-8 my-error mb-2 mx-auto mt-3 py-2 bg-danger rounded  d-flex justify-content-between"> 
              <p class="text-white"><%= registerError %></p>
              <span class="my-1 text-white"><i class="fas fa-exclamation-circle"></i></span>
            </div>

          <% } %>

          <div class="d-flex justify-content-between pt-2">
            <h4 class="text-left font-weight-light"> Account Login</h4> 
            <img src="/images/login.svg" height="30" width="30" alt="">
          </div> 
          <hr>
        
          <!-- username input -->
          <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Enter your username" id="username" name="username">              
          </div>
        </div>

        <!-- password -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Enter your password" id="password" name="password">              
          </div>
        </div>
        <br>                    
        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="sendMessageButton">login</button>
        </div>
      </form>
    </div>
  
  </div>
</div>
  
    
  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%>

