
<%- include('layouts/header'); -%>
<%- include('layouts/navbar'); -%>

  <div class="container">
    <div class="d-flex  h-100 align-items-center col-md-8 mx-auto  p-2">
      <form action="/users/create" method="POST" class="col-md-10 mx-auto status-card">
        <% if (locals.registerError){ %>
          <div class="text-white col-md-8 my-error mb-2 mx-auto bg-danger rounded  d-flex justify-content-between">
            <p class="lead mt-2"><%= locals.registerError %></p> 
            <span class="pt-2">
                <svg xmlns="http://www.w3.org/2000/svg" color="pink" width="20" height="20" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z"/>
                <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
              </svg>
            </span>
          </div>
      <% } %>

        <% if (locals.usernameTakenMsg){ %>
            <div class=" text-white col-md-8 my-error mb-2 mt-3 mx-auto bg-danger rounded  d-flex justify-content-between">
              <p class="mt-2"><%= locals.usernameTakenMsg %></p> 
              <span class="pt-2">
                  <svg xmlns="http://www.w3.org/2000/svg" color="pink" width="20" height="20" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path fill-rule="evenodd" d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z"/>
                  <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                </svg>
              </span>
            </div>
        <% } %>

        <% if (locals.myerrors){ %>
          <p><%= myerrors.err %></p>
        <% myerrors.forEach((err) => { %>
          <div class="text-white col-md-8 my-error mb-2 mx-auto bg-danger rounded d-flex justify-content-between">
            <p class=" mt-2"><%= err.msg %></p> <span class="pt-2"><svg xmlns="http://www.w3.org/2000/svg" color="pink" width="20" height="20" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z"/>
              <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg></span>
          </div>
            
        <%  })  %>
        <% } %>
        <div class="d-flex justify-content-between pt-2">
          <h4 class="text-left font-weight-light">Account Registration</h4> 
          <img src="/images/register.svg" height="30" width="30" fill = "#AB7C94" alt="">
        </div> 
        <hr>
          <!-- username input -->
          <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="pick a username" id="username" name="username" >              
          </div>
        </div>
        <!-- password -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="pick a password" id="password" name="password">              
          </div>
        </div>
        <br>                    
        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Register</button>
        </div>
      </form>
    </div>
  </div>
  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%>
